<ngx-loading [show]="carregandoDados"></ngx-loading>

<div class="page-layout carded fullwidth inner-scroll wcorrea-topo-pagina">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITULO -->
            <div class="logo mb-8 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    perm_identity
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Modelo/Carroceria
                </span>
            </div>
            <!-- / APP TITULO -->

            <!-- PESQUISA -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Pesquisar">
                </div>
            </div>
            <!-- / PESQUISA -->

            <a mat-raised-button [routerLink]="'/cadastro/veiculo/modelo/novo'" class="add-product-button fuse-white mt-8 mt-md-0">
                <span>NOVO MODELO/CARROCERIA</span>
            </a>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- MENSAGENS DE ERRO-->
            <app-error-service-message [(erro)]="mensagemErro" [erroTipo]="'error'"></app-error-service-message>

            <mat-table #tabela [dataSource]="listaDados"
                       class="veiculo-modelo-tabela"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Ativo -->
                <ng-container matColumnDef="inativo">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Ativo</mat-header-cell>
                    <mat-cell *matCellDef="let obj" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="!obj['inativo']" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="obj['inativo']" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <!-- NOME-->
                <ng-container matColumnDef="nome">
                    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let obj" style="display: block" [ngStyle]="obj['inativo'] ? {color: 'red'} : ''">
                        <p class="text-truncate">
                            <b>{{obj['nome']}}  </b>
                        </p>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let obj; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/cadastro/veiculo/modelo/'+ obj.key">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="120"
                           [pageIndex]="0"
                           [pageSize]="env['dataTable']['rows']"
                           [pageSizeOptions]="env['dataTable']['rowsPerPageOptions']"
                           (page)="paginadorEvento($event)">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
