<ngx-loading [show]="carregandoDados"></ngx-loading>

<div #paginaCompleta class="page-layout carded fullwidth inner-scroll wcorrea-topo-pagina">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITULO -->
            <div class="logo mb-8 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    directions_bus
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Fretamento Eventual
                </span>
            </div>
            <!-- / APP TITULO -->

            <!-- PESQUISA -->
            <div fxFlex fxLayout="column" fxLayoutAlign="start center">
                <div class="search-wrapper mx-32 mx-md-0">
                    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>search</mat-icon>
                        <input #filter placeholder="Pesquisar">
                        <span matSuffix style="color: red; width: 50px; cursor:pointer;" *ngIf="temFiltroAtivo" (click)="btnLimparFiltro($event)">Filtrado</span>

                        <button mat-button matSuffix mat-icon-button aria-label="Clear" style="cursor:pointer;" *ngIf="temFiltroAtivo" (click)="btnLimparFiltro($event)">
                            <mat-icon style="color: red">close</mat-icon>
                        </button>
                    </div>
                </div>
                <div #filtroAvancado class="buscaPersonalizada" [ngStyle]="mostrarFiltroAvancado ? {display: 'block'}: {display: 'none'}">

                    <form fxLayout="column" [formGroup]="form">
                        <div fxFlex="100" fxLayout="row center" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                                <mat-label>Veículo</mat-label>
                                <mat-icon matSuffix class="secondary-text">search</mat-icon>
                                <input matInput type="text" placeholder="Pesquisar veículo ..."
                                       style="color: black"
                                       formControlName="veiculo" [matAutocomplete]="autoCompleteVeiculo">
                                <mat-autocomplete autoActiveFirstOption #autoCompleteVeiculo="matAutocomplete" [displayWith]="mostrarNomeVeiculo">
                                    <mat-option *ngIf="cmbCarregando" class="is-loading">
                                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                    </mat-option>
                                    <ng-container *ngIf="!cmbCarregando">
                                        <mat-option *ngFor="let veiculo of cmbVeiculoLista" [value]="veiculo">
                                            <span><b>{{veiculo['frota'] | uppercase}} - {{veiculo['placa'] | uppercase}}</b></span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                                <mat-error>
                                    <app-message [control]="form.get('veiculo')"></app-message>
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>De</mat-label>
                                <input matInput formControlName="dataPartida" [matDatepicker]="dpPartidaData">
                                <mat-datepicker-toggle matSuffix [for]="dpPartidaData"></mat-datepicker-toggle>
                                <mat-datepicker #dpPartidaData></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Até</mat-label>
                                <input matInput formControlName="dataRetorno" [matDatepicker]="dpRetornoData">
                                <mat-datepicker-toggle matSuffix [for]="dpRetornoData"></mat-datepicker-toggle>
                                <mat-datepicker #dpRetornoData></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
                            <mat-checkbox formControlName="situacaoNaoContratado" style="color: red">Não Contratado</mat-checkbox>
                            <mat-checkbox formControlName="situacaoOrcamento" style="color: orange">Orçamento</mat-checkbox>
                            <mat-checkbox formControlName="situacaoContratado" style="color: green">Contratado</mat-checkbox>
                        </div>

                        <div fxFlex="100" fxLayout="row center" fxLayoutAlign="start center" style="padding-top: 10px; margin-top: 15px; border-top: 1px solid #ccc;">
                            <button mat-button (click)="btnLimparFiltro($event)">Limpar</button>
                            <button mat-raised-button style="margin-left: auto;" (click)="btnFiltrar($event)">Filtrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- / PESQUISA -->

            <a mat-raised-button [routerLink]="'/fretamento/eventual/novo'" class="add-product-button fuse-white mt-8 mt-md-0">
                <span>NOVO FRETAMENTO</span>
            </a>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- MENSAGENS DE ERRO-->
            <app-error-service-message [(erro)]="mensagemErro" [erroTipo]="'error'"></app-error-service-message>

            <mat-table #tabela [dataSource]="fretamentoList"
                       class="products-table"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Numero do contrato-->
                <ng-container matColumnDef="numero_contrato">
                    <mat-header-cell *matHeaderCellDef>Contrato</mat-header-cell>
                    <mat-cell *matCellDef="let obj" style="display: block; text-align: center;">
                        <p class="text-truncate" matTooltip="Orçado / Agendado" *ngIf="obj.situacao === 'ORCAMENTO_CONTATO' || obj.situacao === 'ORCAMENTO_CLIENTE'" class="amber-fg"><b>{{obj['numeroContrato']}}</b></p>
                        <p class="text-truncate" matTooltip="Contratado" *ngIf="obj.situacao === 'CONTRATADO'" class="green-fg"><b>{{obj['numeroContrato']}}</b></p>
                        <p class="text-truncate" matTooltip="Não Contratado" *ngIf="obj.situacao === 'NAO_CONTRATADO_CONTATO' || obj.situacao === 'NAO_CONTRATADO_CLIENTE'" class="red-fg"><b>{{obj['numeroContrato']}}</b>
                        </p>

                        <p *ngIf="obj.situacao === 'ORCAMENTO_CONTATO' || obj.situacao === 'ORCAMENTO_CLIENTE'" class="amber-fg text-truncate" style="margin: -17px 0px 0px 0px; font-size: smaller;">(Orçamento)</p>
                        <p *ngIf="obj.situacao === 'CONTRATADO'" class="green-fg text-truncate" style="margin: -17px 0px 0px 0px; font-size: smaller;">(Contratado)</p>
                        <p *ngIf="obj.situacao === 'NAO_CONTRATADO_CONTATO' || obj.situacao === 'NAO_CONTRATADO_CLIENTE'" class="red-fg text-truncate" style="margin: -17px 0px 0px 0px; font-size: smaller;">(Não
                            Contratado)</p>

                        <p *ngIf="obj.situacao === 'ORCAMENTO_CONTATO' || obj.situacao === 'ORCAMENTO_CLIENTE'" class="amber-fg text-truncate"
                           style="margin: -3px 0px 0px 0px; font-size: smaller;">{{obj['situacaoData'] | date: 'dd/MM/yyyy'}}</p>
                        <p *ngIf="obj.situacao === 'CONTRATADO'" class="green-fg text-truncate" style="margin: -3px 0px 0px 0px; font-size: smaller;">{{obj['situacaoData'] | date: 'dd/MM/yyyy'}}</p>
                        <p *ngIf="obj.situacao === 'NAO_CONTRATADO_CONTATO' || obj.situacao === 'NAO_CONTRATADO_CLIENTE'" class="red-fg text-truncate"
                           style="margin: -3px 0px 0px 0px; font-size: smaller;">{{obj['situacaoData'] | date: 'dd/MM/yyyy'}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Imagem do Cliente -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let obj">
                        <mat-icon *ngIf="obj['contato'] || !obj['cliente']['imagem']" style="font-size: 52px; width: 52px; height: 52px; color: #CCC">account_circle</mat-icon>
                        <img class="product-image" *ngIf="!obj['contato'] && obj['cliente']['imagem']" [src]="obj['cliente']['imagem']"/>
                    </mat-cell>
                </ng-container>

                <!-- Nome do cliente -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let obj" style="display: flex">
                        <p class="text-truncate" style="font-weight: bold">{{obj['contato'] ? obj['contato']['nome'] : obj['cliente']['nome']}}</p>
                        <span *ngIf="obj['contato'] == null && obj['cliente']['fantasia'] && obj['cliente']['fantasia'].length > 0" class="ml-8 text-truncate" >({{obj['cliente']['fantasia']}})</span>
                        <p *ngIf="obj['contato'] != null" class="ml-8 red-fg text-truncate" style="font-size: smaller;">(Cliente não cadastrado)</p>
                    </mat-cell>
                </ng-container>

                <!-- Data da Viagem -->
                <ng-container matColumnDef="itinerario_horarios">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Horários</mat-header-cell>
                    <mat-cell *matCellDef="let obj" fxHide fxShow.gt-xs style="display: block">
                        <p class="text-truncate" style="color: blue">Veículo: {{obj['itinerario']['veiculo']['frota']}} - {{obj['itinerario']['veiculo']['placa']}}</p>
                        <p class="text-truncate">Partida: {{obj['itinerario']['partidaData'] | date: 'dd/MM/yyyy'}} {{obj['itinerario']['partidaHora']}}</p>
                        <p class="text-truncate">Retorno: {{obj['itinerario']['retornoData'] | date: 'dd/MM/yyyy'}} {{obj['itinerario']['retornoHora']}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Itinerario da viagem -->
                <ng-container matColumnDef="itinerario_cidade">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Itinerário</mat-header-cell>
                    <mat-cell *matCellDef="let obj" fxHide fxShow.gt-xs style="display: block">
                        <p style="color: transparent">.</p>
                        <p class="text-truncate">{{obj['itinerario']['partidaCidade']['nome']}}/{{obj['itinerario']['partidaCidade']['estado']['iniciais']}}</p>
                        <p class="text-truncate">{{obj['itinerario']['retornoCidade']['nome']}}/{{obj['itinerario']['retornoCidade']['estado']['iniciais']}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Preço -->
                <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Valor</mat-header-cell>
                    <mat-cell *matCellDef="let obj" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{obj['custo']['viagemPrecoFinal'] | currency :"BRL"}}</p>

                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let obj; let indexColuna = index">
                        <div fxFlex="row" fxLayoutAlign="end center">


                            <button mat-icon-button
                                    *ngIf="obj.situacao === 'CONTRATADO'"
                                    matTooltip="Contratado"
                                    [matMenuTriggerFor]="itensDoMenu"
                                    (click)="$event.stopPropagation();" aria-label="Toggle star">
                                <mat-icon class="green-fg">how_to_reg</mat-icon>
                            </button>

                            <button mat-icon-button
                                    *ngIf="obj.situacao === 'ORCAMENTO_CONTATO' || obj.situacao === 'ORCAMENTO_CLIENTE'"
                                    matTooltip="Orçado / Agendado"
                                    [matMenuTriggerFor]="itensDoMenu"
                                    (click)="$event.stopPropagation();" aria-label="Toggle star">
                                <mat-icon class="amber-fg">departure_board</mat-icon>
                            </button>

                            <button mat-icon-button
                                    *ngIf="obj.situacao === 'NAO_CONTRATADO_CONTATO' || obj.situacao === 'NAO_CONTRATADO_CLIENTE'"
                                    matTooltip="Não Contratado"
                                    [matMenuTriggerFor]="itensDoMenu"
                                    (click)="$event.stopPropagation();" aria-label="Toggle star">
                                <mat-icon class="red-fg">remove_circle</mat-icon>
                            </button>

                            <button mat-icon-button aria-label="Mais" [matMenuTriggerFor]="itensDoMenu" (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #itensDoMenu="matMenu">

                                <mat-divider></mat-divider>
                                <button mat-menu-item aria-label="remove" (click)="clonarFretamento(obj)" style="color: darkblue">
                                    <mat-icon style="color: darkblue">file_copy</mat-icon>
                                    <span>CLONAR FRETAMENTO</span>
                                </button>
                                <mat-divider></mat-divider>

                                <button mat-menu-item aria-label="remove" (click)="imprimirContrato(obj)"
                                        *ngIf="obj.situacao === 'CONTRATADO'">
                                    <mat-icon>print</mat-icon>
                                    <span>Imprimir Contrato</span>
                                </button>
                                <button mat-menu-item aria-label="remove" (click)="imprimirTermoResponsabilidadeMotorista(obj)"
                                        *ngIf="obj.situacao === 'CONTRATADO'">
                                    <mat-icon>print</mat-icon>
                                    <span>Imprimir Termo Responsabilidade do Motorista</span>
                                </button>
                                <button mat-menu-item aria-label="remove" (click)="imprimirRelatorioViagem(obj)"
                                        *ngIf="obj.situacao === 'CONTRATADO'">
                                    <mat-icon>print</mat-icon>
                                    <span>Imprimir Relatório de Viagem</span>
                                </button>

                                <button mat-menu-item aria-label="remove" *ngIf="obj.situacao === 'NAO_CONTRATADO_CONTATO' || obj.situacao === 'NAO_CONTRATADO_CLIENTE'"
                                        style="color: orange" (click)="abrirDialogDeAtivarContrato(obj, indexColuna)">
                                    <mat-icon style="color: orange">all_inclusive</mat-icon>
                                    <span>Ativar Contrato (Orçamento)</span>
                                </button>

                                <button mat-menu-item aria-label="remove" *ngIf="obj.situacao == 'ORCAMENTO_CLIENTE'"
                                        style="color: green" (click)="abrirDialogDeConcluirFretamento(obj, indexColuna)">
                                    <mat-icon style="color: green">all_inclusive</mat-icon>
                                    <span>Concluir Contrato</span>
                                </button>

                                <mat-divider></mat-divider>

                                <button mat-menu-item aria-label="remove"
                                        [disabled]="obj.situacao === 'NAO_CONTRATADO_CONTATO' || obj.situacao === 'NAO_CONTRATADO_CLIENTE'"
                                        [style]="(obj.situacao != 'NAO_CONTRATADO_CONTATO' && obj.situacao != 'NAO_CONTRATADO_CLIENTE') ? 'color: red' : ''"
                                        (click)="abrirDialogDeCancelamentoDeContrato(obj, indexColuna)">
                                    <mat-icon style="color: red">delete_forever</mat-icon>
                                    <span>Cancelar Contrato</span>
                                </button>

                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let obj; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/fretamento/eventual/'+ obj.key">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="120"
                           [pageIndex]="0"
                           [pageSize]="env['dataTable']['rows']"
                           [pageSizeOptions]="env['dataTable']['rowsPerPageOptions']"
                           (page)="paginadorEvento($event)">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
