<div class="page-layout carded fullwidth inner-scroll wcorrea-topo-pagina">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITULO -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    directions_bus
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Fretamento Eventual
                </span>
            </div>
            <!-- / APP TITULO -->

            <!-- PESQUISA -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Pesquisar fretamento">
                </div>
            </div>
            <!-- / PESQUISA -->

            <a mat-raised-button [routerLink]="'/fretamento/eventual/novo'" class="add-product-button fuse-white mt-24 mt-md-0">
                <span>NOVO FRETAMENTO</span>
            </a>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table #table [dataSource]="fretamentoList"
                       class="products-table"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Numero do contrato-->
                <ng-container matColumnDef="numero_contrato">
                    <mat-header-cell *matHeaderCellDef>Contrato</mat-header-cell>
                    <mat-cell *matCellDef="let obj">
                        <p class="text-truncate" matTooltip="Contratado" *ngIf="obj.situacao === 'CONTRATADO'" [ngClass]="obj.situacao === 'CONTRATADO' ? 'green-fg': ''"><b>{{obj['numeroContrato']}}</b></p>
                        <p class="text-truncate" matTooltip="Orçado / Agendado" *ngIf="obj.situacao === 'AGENDADO' || obj.situacao === 'ORCAMENTO'" [ngClass]="obj.situacao === 'AGENDADO' || obj.situacao === 'ORCAMENTO' ? 'amber-fg' : ''"><b>{{obj['numeroContrato']}}</b></p>
                        <p class="text-truncate" matTooltip="Não Contratado" *ngIf="obj.situacao === 'NAO_CONTRATADO'" [ngClass]="obj.situacao === 'NAO_CONTRATADO' ? 'red-fg' : ''"><b>{{obj['numeroContrato']}}</b></p>
                    </mat-cell>
                </ng-container>

                <!-- Imagem do Cliente -->
                <ng-container matColumnDef="image">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let obj">
                        <mat-icon *ngIf="obj['contato'] || (obj['cliente']['imagem'] == null )" style="font-size: 52px; width: 52px; height: 52px; color: #CCC">account_circle</mat-icon>
                        <img class="product-image" *ngIf="!obj['contato'] && (obj['cliente']['imagem'] != null )" [src]="obj['cliente']['imagem']"/>
                    </mat-cell>
                </ng-container>

                <!-- Nome do cliente -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
                    <mat-cell *matCellDef="let obj" style="display: block">
                        <p class="text-truncate">{{obj['contato'] ? obj['contato']['nome'] : obj['cliente']['nome']}}</p>
                        <p *ngIf="obj['contato'] != null" class="red-fg text-truncate" style="margin: -17px 0px 0px 0px; font-size: smaller;">(Cliente não cadastrado)</p>
                    </mat-cell>
                </ng-container>

                <!-- Data da Viagem -->
                <ng-container matColumnDef="itinerario_horarios">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Horários</mat-header-cell>
                    <mat-cell *matCellDef="let obj" fxHide fxShow.gt-md style="display: block">
                        <p class="text-truncate">Partida: {{obj['itinerario']['partidaData'] | date: 'dd/MM/yyyy'}} {{obj['itinerario']['partidaHora']}}</p>
                        <p class="text-truncate">Retorno: {{obj['itinerario']['retornoData'] | date: 'dd/MM/yyyy'}} {{obj['itinerario']['retornoHora']}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Itinerario da viagem -->
                <ng-container matColumnDef="itinerario_cidade">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-xs>Itinerário</mat-header-cell>
                    <mat-cell *matCellDef="let obj" fxHide fxShow.gt-xs style="display: block">
                        <p class="text-truncate">{{obj['itinerario']['partidaCidade']['nome']}}/{{obj['itinerario']['partidaCidade']['estado']['iniciais']}}</p>
                        <p class="text-truncate">{{obj['itinerario']['retornoCidade']['nome']}}/{{obj['itinerario']['retornoCidade']['estado']['iniciais']}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Preço -->
                <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Valor</mat-header-cell>
                    <mat-cell *matCellDef="let obj" fxHide fxShow.gt-sm>
                        <p class="text-truncate">{{obj['custo']['viagemPrecoFinal'] | currency :"BRL"}}</p>

                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let obj; let indexColuna = index">
                        <div fxFlex="row" fxLayoutAlign="end center">


                            <button mat-icon-button
                                    *ngIf="obj.situacao === 'CONTRATADO'"
                                    matTooltip="Contratado"
                                    (click)="$event.stopPropagation();" aria-label="Toggle star">
                                <mat-icon class="green-fg">how_to_reg</mat-icon>
                            </button>

                            <button mat-icon-button
                                    *ngIf="obj.situacao === 'AGENDADO' || obj.situacao === 'ORCAMENTO'"
                                    matTooltip="Orçado / Agendado"
                                    (click)="$event.stopPropagation();" aria-label="Toggle star">
                                <mat-icon class="amber-fg">departure_board</mat-icon>
                            </button>

                            <button mat-icon-button
                                    *ngIf="obj.situacao === 'NAO_CONTRATADO'"
                                    matTooltip="Não Contratado"
                                    (click)="$event.stopPropagation();" aria-label="Toggle star">
                                <mat-icon class="red-fg">remove_circle</mat-icon>
                            </button>

                            <button mat-icon-button [matMenuTriggerFor]="itensDoMenu" aria-label="Mais" (click)="$event.stopPropagation();">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #itensDoMenu="matMenu">
                                <button mat-menu-item aria-label="remove" (click)="imprimirContrato(obj)" [disabled]="obj['contato'] != null || obj.situacao === 'NAO_CONTRATADO'">
                                    <mat-icon>print</mat-icon>
                                    <span>Imprimir Contrato</span>
                                </button>

                                <mat-divider></mat-divider>

                                <button mat-menu-item aria-label="remove"
                                        [disabled]="obj.situacao === 'NAO_CONTRATADO'"
                                        [style]="obj.situacao != 'NAO_CONTRATADO' ? 'color: red' : ''" (click)="abrirDialogDeCancelamentoDeContrato(obj, indexColuna)">
                                    <mat-icon style="color: red">delete_forever</mat-icon>
                                    <span>Cancelar Contrato</span>
                                </button>

                            </mat-menu>
                        </div>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let obj; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/fretamento/eventual/'+ obj.key">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="120"
                           [pageIndex]="0"
                           [pageSize]="env['dataTable']['rows']"
                           [pageSizeOptions]="env['dataTable']['rowsPerPageOptions']"
                           (page)="paginadorEvento($event)">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
