<ngx-loading [show]="carregandoDados"></ngx-loading>


<div id="product" class="page-layout carded fullwidth inner-scroll">

    <div class="top-bg accent"></div>

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <!-- BOTAO VOLTAR-->
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/cadastro/pessoa/motorista'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon style="font-size: 60px">directions_bus</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{tipoPagina === 'EDICAO' ? 'Edição do Motorista' : 'Novo Motorista'}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhes do motorista</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- BOTAO DE SALVAR -->
            <button mat-raised-button class="save-product-button" (click)="gravarFretamento()">
                <span>{{tipoPagina === 'NOVO' ? 'SALVAR MOTORISTA' : 'ATUALIZAR MOTORISTA'}}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div #conteudoScroll class="content" style="padding: 30px;" fusePerfectScrollbar>

                <!-- MENSAGENS DE ERRO-->
                <app-error-service-message [(erro)]="mensagemErro" [erroTipo]="'error'"></app-error-service-message>
                <app-error-service-message [(erro)]="mensagemAlerta" [erroTipo]="'warning'"></app-error-service-message>

                <form fxLayout="column" [formGroup]="form">

                    <mat-grid-list cols="5" rowHeight="87px">

                        <mat-grid-tile colspan="1" rowspan="2">
                            <app-imagem-base64 class="pr-4" [(imagemBase64)]="imagemCliente" style="top: -10px; position: relative;  width: 140px; height: 140px;"></app-imagem-base64>
                        </mat-grid-tile>

                        <mat-grid-tile colspan="4" rowspan="1">
                            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                                    <mat-label>CPF</mat-label>
                                    <input matInput formControlName="cpf"
                                           [dropSpecialCharacters]="false"
                                           mask="000.000.000-00" (ngModelChange)="buscarCpfDigitado()">
                                    <mat-icon matSuffix class="secondary-text">contact_mail</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('pessoaFisica').get('cpf')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>Nome</mat-label>
                                    <input matInput formControlName="nome">
                                    <mat-error>
                                        <app-message [control]="form.get('nome')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="25">
                                    <mat-label>Apelido</mat-label>
                                    <input matInput formControlName="fantasia">
                                    <mat-icon matSuffix class="secondary-text">gesture</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('fantasia')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="4" rowspan="1">
                            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                                    <mat-label>RG</mat-label>
                                    <input matInput formControlName="rg">
                                    <mat-icon matSuffix class="secondary-text">contact_mail</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('pessoaFisica').get('rg')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                                    <mat-label>Sexo</mat-label>
                                    <mat-select formControlName="sexo">
                                        <mat-option value="M">Masculino</mat-option>
                                        <mat-option value="F">Feminino</mat-option>
                                    </mat-select>
                                    <mat-error>
                                        <app-message [control]="form.get('pessoaFisica').get('sexo')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput formControlName="email">
                                    <mat-icon matSuffix class="secondary-text">alternate_email</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('email')"></app-message>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Telefone 1</mat-label>
                            <input matInput formControlName="telefone1"
                                   [mask]="(form.get('telefone1').value && form.get('telefone1').value.toString().length <=10) ? '(00) 0000-00009' : '(00) 00000-0000'">
                            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            <mat-error>
                                <app-message [control]="form.get('telefone1')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Contato 1</mat-label>
                            <input matInput formControlName="telefone1Obs">
                            <mat-error>
                                <app-message [control]="form.get('telefone1Obs')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Telefone 2</mat-label>
                            <input matInput formControlName="telefone2"
                                   [mask]="(form.get('telefone2').value && form.get('telefone2').value.toString().length <=10) ? '(00) 0000-00009' : '(00) 00000-0000'">
                            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            <mat-error>
                                <app-message [control]="form.get('telefone2')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Contato 2</mat-label>
                            <input matInput formControlName="telefone2Obs">
                            <mat-error>
                                <app-message [control]="form.get('telefone2Obs')"></app-message>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Cidade</mat-label>
                            <mat-icon matSuffix class="secondary-text">search</mat-icon>
                            <input matInput type="text" placeholder="Pesquisar cidade ..."
                                   formControlName="cidade" [matAutocomplete]="autoCompleteClienteCidade">
                            <mat-autocomplete autoActiveFirstOption #autoCompleteClienteCidade="matAutocomplete"
                                              [displayWith]="mostrarNomeCidade">
                                <mat-option *ngIf="cmbCarregando" class="is-loading">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </mat-option>
                                <ng-container *ngIf="!cmbCarregando">
                                    <mat-option *ngFor="let cidade of cmbCidadeLista" [value]="cidade">
                                        <span><b>{{cidade['nome']}} / {{ cidade['estado']['nome']}}</b></span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            <mat-error>
                                <app-message [control]="form.get('cidade')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                            <mat-label>Bairro</mat-label>
                            <input matInput formControlName="bairro">
                            <mat-error>
                                <app-message [control]="form.get('bairro')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                            <mat-label>CEP</mat-label>
                            <input matInput formControlName="cep" [dropSpecialCharacters]="false" mask="00000-000">
                            <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                            <mat-error>
                                <app-message [control]="form.get('cep')"></app-message>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                            <mat-label>Endereço</mat-label>
                            <input matInput formControlName="endereco">
                            <mat-error>
                                <app-message [control]="form.get('endereco')"></app-message>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Observações do cliente</mat-label>
                            <textarea #clienteObs matInput formControlName="obs" rows="3" maxlength="500"></textarea>
                            <mat-hint align="end">{{clienteObs.value.length}} / 500</mat-hint>
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('obs')"></app-message>
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" style="background: #ccc; margin-bottom: 15px; border-radius: 10px">
                        <p style="font-weight: bold; font-size: medium; padding: 4px 22px;">CARTEIRA NASCIONAL DE HABILITAÇÃO (CNH)</p>
                    </div>





                    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">

                        <mat-form-field appearance="outline" fxFlex="20" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Nº Registro</mat-label>
                            <input matInput formControlName="cnhNumero">
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('cnhNumero')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="15" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Validade</mat-label>
                            <input matInput formControlName="cnhVencimento" [matDatepicker]="dpDataVencimento">
                            <mat-datepicker-toggle matSuffix [for]="dpDataVencimento"></mat-datepicker-toggle>
                            <mat-datepicker #dpDataVencimento></mat-datepicker>
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('cnhVencimento')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="15" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Categoria Hab.</mat-label>
                            <mat-select formControlName="cnhCategoria">
                                <mat-option value="A">A</mat-option>
                                <mat-option value="AB">AB</mat-option>
                                <mat-option value="AC">AC</mat-option>
                                <mat-option value="AD">AD</mat-option>
                                <mat-option value="AE">AE</mat-option>
                                <mat-option value="B">B</mat-option>
                                <mat-option value="C">C</mat-option>
                                <mat-option value="D">D</mat-option>
                                <mat-option value="E">E</mat-option>
                            </mat-select>
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('cnhCategoria')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="15" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>1º Habilitação</mat-label>
                            <input matInput formControlName="cnhPrimeiraHabilitacao" [matDatepicker]="dpPrimeiraHabilitacao">
                            <mat-datepicker-toggle matSuffix [for]="dpPrimeiraHabilitacao"></mat-datepicker-toggle>
                            <mat-datepicker #dpPrimeiraHabilitacao></mat-datepicker>
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('cnhPrimeiraHabilitacao')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="20" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Orgão Emissor/RG</mat-label>
                            <input matInput formControlName="orgaoRg" maxlength="10" onkeyup="this.value = this.value.toUpperCase();">
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('orgaoRg')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="15" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Data nascimento</mat-label>
                            <input matInput formControlName="dataNascimento" [matDatepicker]="dpDataNascimento">
                            <mat-datepicker-toggle matSuffix [for]="dpDataNascimento"></mat-datepicker-toggle>
                            <mat-datepicker #dpDataNascimento></mat-datepicker>
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('dataNascimento')"></app-message>
                            </mat-error>
                        </mat-form-field>


                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Nome da Mãe</mat-label>
                            <input matInput formControlName="nomeMae">
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('nomeMae')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Nome do Pai</mat-label>
                            <input matInput formControlName="nomePai">
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('nomePai')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="35" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Cidade de Emissão</mat-label>
                            <mat-icon matSuffix class="secondary-text">search</mat-icon>
                            <input matInput type="text" placeholder="Pesquisar cidade ..."
                                   formControlName="cnhEmissaoCidade" [matAutocomplete]="autoCompleteCnhEmissaoCidade">
                            <mat-autocomplete autoActiveFirstOption #autoCompleteCnhEmissaoCidade="matAutocomplete" [displayWith]="mostrarNomeCidade">
                                <mat-option *ngIf="cmbCarregando" class="is-loading">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </mat-option>
                                <ng-container *ngIf="!cmbCarregando">
                                    <mat-option *ngFor="let cidade of cmbCidadeLista" [value]="cidade">
                                        <span><b>{{cidade['nome']}} / {{ cidade['estado']['nome']}}</b></span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('cnhEmissaoCidade')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="15" class="pr-4" [formGroup]="form.get('pessoaFisica')">
                            <mat-label>Data Emissão</mat-label>
                            <input matInput formControlName="cnhEmissaoData" [matDatepicker]="dpDataEmissao">
                            <mat-datepicker-toggle matSuffix [for]="dpDataEmissao"></mat-datepicker-toggle>
                            <mat-datepicker #dpDataEmissao></mat-datepicker>
                            <mat-error>
                                <app-message [control]="form.get('pessoaFisica').get('cnhEmissaoData')"></app-message>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
