<ngx-loading [show]="carregandoDados"></ngx-loading>


<div id="product" class="page-layout carded fullwidth inner-scroll">

    <div class="top-bg accent"></div>

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <!-- BOTAO VOLTAR-->
                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/cadastro/pessoa/cliente-fornecedor'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <mat-icon style="font-size: 60px">directions_bus</mat-icon>
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        {{tipoPagina === 'EDICAO' ? 'Edição de Cliente / Fornecedor' : 'Novo Cliente / Fornecedor'}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhes do cliente/Fornecedor</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <!-- BOTAO DE SALVAR -->
            <button mat-raised-button class="save-product-button" (click)="gravar()">
                <span>{{tipoPagina === 'NOVO' ? 'SALVAR CLIENTE / FORNECEDOR' : 'ATUALIZAR CLIENTE / FORNECEDOR'}}</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div #conteudoScroll class="content" style="padding: 30px;" fusePerfectScrollbar>

                <!-- MENSAGENS DE ERRO-->
                <app-error-service-message [(erro)]="mensagemErro" [erroTipo]="'error'"></app-error-service-message>
                <app-error-service-message [(erro)]="mensagemAlerta" [erroTipo]="'warning'"></app-error-service-message>

                <form fxLayout="column" [formGroup]="form">

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">

                        <div fxFlex="100" class="text-right" fxLayoutAlign="center center">
                            <mat-radio-group *ngIf="form.get('key').value == null ? true : false" formControlName="tipo" class="centralizar-radio-button"
                                             style="width: 100%; text-align: center;">
                                <mat-radio-button style="margin: 10px" class="radio-button-espacamento" value="FISICA">Pessoa Física</mat-radio-button>
                                <mat-radio-button style="margin: 10px" class="radio-button-espacamento" value="JURIDICA">Pessoa Jurídica</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <mat-divider style="margin: 10px; border: 0.5px solid grey;"></mat-divider>

                    <mat-grid-list cols="5" rowHeight="87px">
                        <mat-grid-tile colspan="1" rowspan="2">
                            <app-imagem-base64 class="pr-4"
                                               [(imagemBase64)]="imagemCliente" style="top: -10px; position: relative;  width: 140px; height: 140px;"></app-imagem-base64>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="4" rowspan="1">
                            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4"
                                                [formGroup]="form.get('pessoaFisica')"
                                                *ngIf="form.get('tipo').value === 'FISICA' ? true : false">
                                    <mat-label>CPF</mat-label>
                                    <input matInput formControlName="cpf"
                                           [dropSpecialCharacters]="false"
                                           mask="000.000.000-00" (ngModelChange)="buscarCpfDigitado()">
                                    <mat-icon matSuffix class="secondary-text">contact_mail</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('pessoaFisica').get('cpf')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4"
                                                [formGroup]="form.get('pessoaJuridica')"
                                                *ngIf="form.get('tipo').value === 'FISICA' ? false : true">
                                    <mat-label>CNPJ</mat-label>
                                    <input matInput formControlName="cnpj"
                                           [dropSpecialCharacters]="false"
                                           mask="00.000.000/0000-00" (ngModelChange)="buscarCnpjDigitado()">
                                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('pessoaJuridica').get('cnpj')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                    <mat-label>{{form.get('tipo').value === 'FISICA' ? 'Nome' : 'Razão Social' }}</mat-label>
                                    <input matInput formControlName="nome">
                                    <mat-error>
                                        <app-message [control]="form.get('nome')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                                    <mat-label>{{form.get('tipo').value === 'FISICA' ? 'Apelido' : 'Nome Fantasia' }}</mat-label>
                                    <input matInput formControlName="fantasia">
                                    <mat-icon matSuffix class="secondary-text">gesture</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('fantasia')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile colspan="4" rowspan="1">
                            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4"
                                                [formGroup]="form.get('pessoaFisica')"
                                                *ngIf="form.get('tipo').value === 'FISICA' ? true : false">
                                    <mat-label>RG</mat-label>
                                    <input matInput formControlName="rg">
                                    <mat-icon matSuffix class="secondary-text">contact_mail</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('pessoaFisica').get('rg')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="25" class="pr-4"
                                                [formGroup]="form.get('pessoaJuridica')"
                                                *ngIf="form.get('tipo').value === 'FISICA' ? false : true">
                                    <mat-label>Inscrição Estadual</mat-label>
                                    <input matInput formControlName="inscricaoEstadual" maxlength="15">
                                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('pessoaJuridica').get('inscricaoEstadual')"></app-message>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" fxFlex="75" class="pr-4">
                                    <mat-label>E-mail</mat-label>
                                    <input matInput formControlName="email">
                                    <mat-icon matSuffix class="secondary-text">alternate_email</mat-icon>
                                    <mat-error>
                                        <app-message [control]="form.get('email')"></app-message>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Telefone 1</mat-label>
                            <input matInput formControlName="telefone1"
                                   [mask]="(form.get('telefone1').value && form.get('telefone1').value.toString().length <=10) ? '(00) 0000-00009' : '(00) 00000-0000'"
                                   [validation]="false">
                            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            <mat-error>
                                <app-message [control]="form.get('telefone1')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Contato 1</mat-label>
                            <input matInput formControlName="telefone1Obs">
                            <mat-error>
                                <app-message [control]="form.get('telefone1Obs')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Telefone 2</mat-label>
                            <input matInput formControlName="telefone2"
                                   [mask]="(form.get('telefone2').value && form.get('telefone2').value.toString().length <=10) ? '(00) 0000-00009' : '(00) 00000-0000'"
                                   [validation]="false">
                            <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                            <mat-error>
                                <app-message [control]="form.get('telefone2')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="25" class="pr-4">
                            <mat-label>Contato 2</mat-label>
                            <input matInput formControlName="telefone2Obs">
                            <mat-error>
                                <app-message [control]="form.get('telefone2Obs')"></app-message>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                            <mat-label>Cidade</mat-label>
                            <mat-icon matSuffix class="secondary-text">search</mat-icon>
                            <input matInput type="text" placeholder="Pesquisar cidade ..."
                                   formControlName="cidade" [matAutocomplete]="autoCompleteClienteCidade">
                            <mat-autocomplete autoActiveFirstOption #autoCompleteClienteCidade="matAutocomplete"
                                              [displayWith]="mostrarNomeCidade">
                                <mat-option *ngIf="cmbCarregando" class="is-loading">
                                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                                </mat-option>
                                <ng-container *ngIf="!cmbCarregando">
                                    <mat-option *ngFor="let cidade of cmbCidadeLista" [value]="cidade">
                                        <span><b>{{cidade['nome']}} / {{ cidade['estado']['nome']}}</b></span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                            <mat-error>
                                <app-message [control]="form.get('cidade')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="30" class="pr-4">
                            <mat-label>Bairro</mat-label>
                            <input matInput formControlName="bairro">
                            <mat-error>
                                <app-message [control]="form.get('bairro')"></app-message>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" fxFlex="20" class="pr-4">
                            <mat-label>CEP</mat-label>
                            <input matInput formControlName="cep" [dropSpecialCharacters]="false" mask="00000-000">
                            <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                            <mat-error>
                                <app-message [control]="form.get('cep')"></app-message>
                            </mat-error>
                        </mat-form-field>

                    </div>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="100" class="pr-4">
                            <mat-label>Endereço</mat-label>
                            <input matInput formControlName="endereco">
                            <mat-error>
                                <app-message [control]="form.get('endereco')"></app-message>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex="100">
                            <mat-label>Observações do cliente</mat-label>
                            <textarea #clienteObs matInput formControlName="obs" rows="3" maxlength="500"></textarea>
                            <mat-hint align="end">{{clienteObs.value.length}} / 500</mat-hint>
                            <mat-error>
                                <app-message [control]="form.get('obs')"></app-message>
                            </mat-error>
                        </mat-form-field>
                    </div>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
